.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
  }
  
  .navbar-brand a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-menu a {
    color: #fff;
    text-decoration: none;
    margin-left: 50px;
  }


  
#logoutButton
{
    margin-top: 20px;
    cursor: pointer;
    background-color: rgba(31, 154, 179, 0.679);
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
}



/* 
  .logout
  {
    margin-right: 70vh;
  } */