.login-app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/62693/pexels-photo-62693.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
  }
  
  .login-body-container {
    background-color: #f0f0f0; /* Example background color */
    padding: 20px;
  }
  
  .login-containers {
    background-color: #fff; /* Example background color */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px;
  }
  
  .loginform-containers {
    margin-top: 20px;
  }
  
  .login-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .loginform-containers form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
  }
  
  .loginform-containers form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .loginform-containers form button:hover {
    background-color: #0056b3;
  }
  
  p {
    /* color: red; */
    margin-bottom: 10px;
  }
  